DOMAIN_NAME=mviana-v.42.fr

MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user
MYSQL_PASSWORD=your_db_password
MYSQL_ROOT_PASSWORD=your_root_password

WP_TITLE=Inception
WP_ADMIN_USER=your_admin_username
WP_ADMIN_PASSWORD=your_admin_password
WP_ADMIN_EMAIL=your_admin@42.fr

WP_USER_USER=your_username
WP_USER_PASSWORD=your_user_password
WP_USER_EMAIL=your_user@42.fr
